<div class="addresses modal-content">
  <header>
    <h1>Addresses of Lead <strong>{{lead.data.name}}</strong></h1>
    <button class="btn-close" title="Close window">Close</button>
  </header>
  <main ng-mouseleave="$mouseleave()">
    <aside>
      <ul>
        <lead-address ng-repeat="address in list track by $index" address="address" index="$index" on-edit="$edit" on-edit-complete="$editComplete" on-remove="$remove" on-over="$over"></lead-address>
        <li class="add-address" ng-mouseenter="$addMouseenter()">
          <span class="num">{{list.length + 1}}</span>
          <div class="address">
            <input type="text" class="text" placeholder="Add a new address" />
            <ol>
              <li>
                <input ng-model="label" type="radio" name="type" value="primary" id="primary" />
                <label for="primary" class="primary">primary</label>
                <input ng-model="label" type="radio" name="type" value="mobile" id="mobile" />
                <label for="mobile" class="mobile">mobile</label>
                <input ng-model="label" type="radio" name="type" value="other" id="other" />
                <label for="other" class="other">other </label>
              </li>
            </ol>
          </div>
        </li>
      </ul>

      <p class="empty" ng-show="!list.length">It doesn't have any address yet! Type the address above or drag the pin.</p>
    </aside>
    <div class="map">
      
    </div>
  </main>
<div>
