<div class="addresses modal-content">
  <header>
    <h1>Addresses of Lead <strong>{{lead.data.name}}</strong></h1>
    <button class="btn-close" title="Close window">Close</button>
  </header>
  <main ng-mouseleave="$mouseleave()">
    <aside>
      <ul>
        <li ng-repeat="address in list track by $index" ng-mouseenter="$mouseenter(address)" ng-class="{editing: address.editing}" ng-init="$editAutocomplete(address, $index)">
          <span class="num">{{$index + 1}}</span>
          <div class="address">
            <p>{{address.formatted}}</p>
            <input type="text" class="text" placeholder="Edit the address" value="{{address.formatted}}" />
            <ol>
              <li>
                <input ng-model="address.label" type="radio" name="type" value="primary" id="primary{{$id}}" />
                <label for="primary{{$id}}" class="primary">primary</label>
                <input ng-model="address.label" type="radio" name="type" value="mobile" id="mobile{{$id}}" />
                <label for="mobile{{$id}}" class="mobile">mobile</label>
                <input ng-model="address.label" type="radio" name="type" value="other" id="other{{$id}}" />
                <label for="other{{$id}}" class="other">other </label>
              </li>
            </ol>
          </div>
          <div class="actions">
            <button type="button" class="btn-edit" ng-click="$edit($event, address)" title="Edit this address">Edit</button>
            <button type="button" class="btn-remove" ng-click="$remove(address)" title="Remove this address">Remove</button>
          </div>
          <span class="ribbon {{address.label}}">{{address.label}}</span>
        </li>
        <li class="add-address" ng-mouseenter="$addMouseenter()">
          <span class="num">{{list.length + 1}}</span>
          <div class="address">
            <input type="text" class="text" placeholder="Add a new address" />
            <ol>
              <li>
                <input ng-model="label" type="radio" name="type" value="primary" id="primary" />
                <label for="primary" class="primary">primary</label>
                <input ng-model="label" type="radio" name="type" value="mobile" id="mobile" />
                <label for="mobile" class="mobile">mobile</label>
                <input ng-model="label" type="radio" name="type" value="other" id="other" />
                <label for="other" class="other">other </label>
              </li>
            </ol>
          </div>
        </li>
      </ul>

      <p class="empty" ng-show="!list.length">It doesn't have any address yet! Type the address above or drag the pin.</p>
    </aside>
    <div class="map">
      
    </div>
  </main>
<div>
