<li ng-mouseenter="$over(address)" ng-class="{editing: address.editing, removing: address.removing, error: error}">
  <span class="num">{{index + 1}}</span>
  <div class="address">
    <div class="place"><p>{{address.formatted}}</p></div>
    <input type="text" class="text" placeholder="Edit the address" value="{{address.formatted}}" />
    <ol>
      <li>
        <input ng-model="address.label" type="radio" name="type" value="primary" id="primary{{index}}" />
        <label for="primary{{index}}" class="primary">primary</label>
        <input ng-model="address.label" type="radio" name="type" value="mobile" id="mobile{{index}}" />
        <label for="mobile{{index}}" class="mobile">mobile</label>
        <input ng-model="address.label" type="radio" name="type" value="other" id="other{{index}}" />
        <label for="other{{index}}" class="other">other </label>
      </li>
    </ol>
  </div>
  <div class="actions">
    <button type="button" class="btn-edit" ng-click="$edit($event, address)" title="Edit this address">Edit</button>
    <button type="button" class="btn-remove" ng-click="$remove(address)" title="Remove this address">Remove</button>
  </div>
  <span ng-show="address.label.length" class="ribbon {{address.label}}">{{address.label}}</span>
  <div class="remove">
    <p>Are you sure to remove this address?</p>
    <div class="buttons">
      <button type="button" class="btn-yes" ng-click="$confirm(true)" title="Confirm removal">Yes</button>
      <button type="button" class="btn-no" ng-click="$confirm(false)" title="Cancel removal">No</button>
    </div>
  </div>
</li>
