$type-primary: #2c7;
$type-mobile: #39d;
$type-home: #e43;
$type-other: #e82;

$gray: #eee;
$light-gray: #ccc;
$black: #222;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: red;
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #03A9F4;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

/* MODAL */

.modal {
  .modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    z-index: 1;
    opacity: 0.5;
  }
  .modal-holder {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: transparent;
    z-index: 2;
    padding: 30px 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .modal-content {
      border-radius: 4px;
      box-shadow: 1px 1px 1px white;
      background: white;
      position: relative;
      overflow: hidden;

      header {
        background: $gray;
        box-shadow: inset 0 -10px 10px -10px $light-gray;

        h1 {
          color: $black;
          text-align: center;
          padding: 10px 0;
          font-size: 24px;
          font-weight: normal;
        }

        .btn-close {
          text-indent: -999em;
          background: url('../public/img/close.svg');
          border: none;
          background-size: contain;
          width: 22px;
          height: 22px;
          position: absolute;
          right: 22px;
          top: 15px;
          cursor: pointer;

          transition: all .2s ease-in-out;
          
          &:hover { 
            transform: scale(1.3);
          }
        }
      }

      main {
        
      }
    }
  }
}
 
/*
  Addresses modal
*/
.addresses {
  main {
    width: 50vw;
    height: 350px;

    display: flex;
    justify-content: space-around;
    align-items: stretch;

    aside {
      flex: 0 0 330px;
      overflow-y: scroll;

      ul {
        overflow: hidden;

        > li {
          border-bottom: 1px solid $gray;
          padding: 10px 60px 10px 10px;
          position: relative;
          overflow: hidden;
          min-height: 63px;

          display: flex;
          align-items: flex-start;

          span.num {
            border-radius: 25px;
            background-color: #1b9;
            color: white;
            font-size: 14px;
            padding: 1px 4px;
            flex: 1 1 18px;
            text-align: center;
            margin-right: 10px;
            z-index: 1;
            align-self: center;
          }

          .address {
            transition: color 0.4s;
            font-size: 24px;
            color: $black;
            flex: 10;

            p {
              white-space: pre-line;
              word-break: break-all;
              line-height: 1.4em;
              width: 1000%;  

              &::selection {
                background: transparent;
              }
            }

            input.text {
              font-size: 24px;
              line-height: 1.4em;
              border: 0px solid #ccc;
              outline: none;
              width: 100%;
              position: absolute;
              left: 0;
              z-index: 0;
              top: 0;
              bottom: 0;
              padding: 0 10px 0 58px;
              box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);

              &::-webkit-input-placeholder {
                font-style: italic;
              }
            }

            ol {
              display: flex;
              justify-content: space-around;
              align-items: stretch;

              z-index: 21;
              font-size: 11px;
              position: absolute;
              right: 0;
              bottom: 0;
              background: rgba(255,255,255,0.5);

              li {
                label {
                  padding: 2px 5px;
                  cursor: pointer;
                  font-size: 8px;
                  text-transform: lowercase;

                  transition: font-size .3s ease;

                  &.primary{
                    border: 1px solid $type-primary;
                    color: #2c7;
                  }
                  &.mobile{
                    border: 1px solid $type-mobile;
                    color: #39d;
                  }
                  &.home{
                    border: 1px solid $type-home;
                    color: #e43;
                  }
                  &.other{
                    border: 1px solid $type-other;
                    color: #e82;
                  }

                  &:hover
                  , &:focus {
                    font-size: 11px;
                  }
                }

                input {
                  display: none;
                }
                input[type="radio"]:checked + label{
                  font-size: 9px;
                  color: white;
                  border: none;

                  &.primary{
                    background: $type-primary;
                  }
                  &.mobile{
                    background: $type-mobile;
                  }
                  &.home{
                    background: $type-home;
                  }
                  &.other{
                    background: $type-other;
                  }
                }

              }
            }

            input.text, ol {
              display: none;
            }
          }

          .actions {
            opacity: 0;
            display: flex;
            transition: opacity .3s ease;

            background: rgba(255, 255, 255, 0.9);
            position: absolute;
            right: 10px;
            bottom: 0;
            top: 0;
            width: 56px;

            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .btn-edit
            , .btn-remove {
              cursor: pointer;
              text-indent: -999em;
              border: none;
              background: no-repeat center center;
              background-size: 13px;
              border-radius: 14px;
                
              width: 15px;
              height: 28px;
              flex-grow: 1;

              transition: background-color 0.3s ease;

              &:hover
              , &:focus {
                background-color: #39d;
                fill: white;
              }
            }

            .btn-edit {
              background-image: url('../public/img/edit.svg');
            }

            .btn-remove {
              background-image: url('../public/img/close.svg');

              &:hover
              , &:focus {
                background-color: #e43;
              }
            }
          }

          .remove {
            transition: top .3s ease;

            background: rgba(255, 255, 255, 0.95);
            position: absolute;
            right: 0;
            bottom: 0;
            top: 100%;
            left: 0;
            z-index: 2;
            padding: 4px;
            text-align: center;

            p {
              color: $black;
              font-size: 15px;
            }

            .buttons {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              margin: 0 90px;

              .btn-yes
              , .btn-no {
                cursor: pointer;
                border: none;
                height: 28px;
                flex-grow: 1;
                margin: 3px 10px 0;
                border-radius: 25px;
                background-color: #1b9;
                color: white;
                transition: background-color 0.3s ease;

                &:hover
                , &:focus {
                  transform: scale(1.1);
                }
              }

              .btn-no {
                background-color: #e43;
              }
            }
          }

          .ribbon {
            font-size: 9px;
            text-align: center;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            box-shadow: 1px 1px 2px #CD4;
            transform: rotate(45deg);
            padding: 1px 22px 2px;
            min-width: 83px;
            background: red;
            position: absolute;
            color: white;
            right: -22px;
            top: 9px;
            
            transition: opacity .3s ease;

            &.primary{
              background: $type-primary;
            }
            &.mobile{
              background: $type-mobile;
            }
            &.home{
              background: $type-home;
            }
            &.other{
              background: $type-other;
            }
          }

          &:hover
          , &:focus {
            .address p {
              width: 80%;
              font-size: 14px;
              line-height: 1em;
            }

            .address p::selection {
              background: #2c7;
            }
            .actions {
              opacity: 1;
            }
            .ribbon {
              opacity: 0;
            }
          }

          &.add-address
          , &.editing {
            input.text, ol {
              display: block;
            }
          }

          &.editing {
            .actions {
              opacity: 0;
            }
          }

          &.removing {
            .remove {
              top: 0;
            }
          }

          &.error {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
          }
        }
      }

      p.empty {
        height: 82%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 20px;
        font-style: italic;
        color: $light-gray;
      }
    }

    div.map {
      border-left: 1px solid $gray;
      flex: 1;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
